<form #MyForm= "ngForm" (submit)= "submit(MyForm)">
<label> Name:</label>
<input type="text" [(ngModel)]= "title" name="title" required maxlength= 5 #Input= "ngModel">

<!-- <span *ngIf= "Input.valid == false && Input.touched == true"> Name Is Mandatory </span>

<span *ngIf= "Input.name.length == 5 && Input.dirty == true"> Only 5 chars Allowed </span> -->

<span *ngIf="Input.valid==false && Input.touched==true"> 
  <span *ngIf="Input.errors?.['required'] && Input.dirty== true">Name Is Mandatory </span>
</span>

<button>Submit</button>
</form>